<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Cloud Portfolio</title>
</head>
<body>

    <h1>☁️ AWS Cloud Portfolio</h1>

    <h2>Hello, I'm Tanjila Khatri</h2>

    <h3>B.Tech CSE Student</h3>

    <p>Aspiring Cloud Engineer</p>

    <h3>Technologies Used</h3>

    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>AWS EC2</li>
        <li>AWS CodePipeline</li>
        <li>AWS CodeBuild</li>
        <li>AWS CodeDeploy</li>
        <li>GitHub</li>
        <li>Nginx</li>
        <li>Gunicorn</li>
    </ul>

</body>
</html>
